name: "RFXCOM Node.js Bridge"
description: "Bridge Node.js pour la communication RFXCOM via le package node-rfxcom"
version: "1.0.2"
slug: "rfxcom-nodejs-bridge"
init: false
startup: services
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  8000/tcp: 8000